.footer-con {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 7vh;
}

.footer-section {
    margin: 10px;
    flex-basis: 20%;
}

.footer-section h2 {
    color: #fff;
}

.footer-section p, .footer-section ul {
    color: #bbb;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: #bbb;
    text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 50%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .footer-con {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }
}
